.header--portfolio .header-content--portfolio {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.header--portfolio .header-content--portfolio .logo-nav--portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 93px;
}
.header--portfolio .header-content--portfolio .logo-nav--portfolio .header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.header--portfolio .header-content--portfolio .logo-nav--portfolio .header-logo .web {
  color: #2196F3;
  font-family: "Raleway";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.header--portfolio .header-content--portfolio .logo-nav--portfolio .header-logo .webstudio {
  color: #000;
  font-family: "Raleway";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.header--portfolio .header-content--portfolio .logo-nav--portfolio .nav-bar--portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 50px;
}
@media (max-width: 768px) {
  .header--portfolio .header-content--portfolio .logo-nav--portfolio .nav-bar--portfolio {
    display: none;
  }
}
@media (max-width: 480px) {
  .header--portfolio .header-content--portfolio .logo-nav--portfolio .nav-bar--portfolio {
    display: none;
  }
}
.header--portfolio .header-content--portfolio .logo-nav--portfolio .nav-bar--portfolio .nav-bar__item--portfolio {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: black;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header--portfolio .header-content--portfolio .logo-nav--portfolio .nav-bar--portfolio .nav-bar__item--portfolio:hover {
  color: #2196F3;
}
.header--portfolio .header-content--portfolio .logo-nav--portfolio .nav-bar--portfolio .nav-bar__item--portfolio:hover::before {
  width: 100%;
  left: 0;
}
.header--portfolio .header-content--portfolio .logo-nav--portfolio .nav-bar--portfolio .nav-bar__item--portfolio::before {
  content: "";
  position: absolute;
  width: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  top: 0;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  transition: width 0.3s ease, left 0.3s ease;
  margin-top: 32px;
}
.header--portfolio .header-content--portfolio .header-links {
  display: flex;
  gap: 50px;
}
@media (max-width: 1200px) {
  .header--portfolio .header-content--portfolio .header-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .header--portfolio .header-content--portfolio .header-links {
    display: none;
  }
}
@media (max-width: 480px) {
  .header--portfolio .header-content--portfolio .header-links {
    display: none;
  }
}
.header--portfolio .header-content--portfolio .header-links__item {
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  gap: 10px;
  align-items: center;
}
.header--portfolio .header-content--portfolio .header-links__item:hover {
  color: #2196F3;
}
.header--portfolio .header-content--portfolio .header-links__item:hover .header-links__item--svg {
  fill: #2196F3;
}
.header--portfolio .header-content--portfolio .adaptive-link--portfolio {
  display: none;
}
@media (max-width: 768px) {
  .header--portfolio .header-content--portfolio .adaptive-link--portfolio {
    display: block;
  }
}
@media (max-width: 480px) {
  .header--portfolio .header-content--portfolio .adaptive-link--portfolio {
    display: block;
  }
}

a {
  text-decoration: none;
}

.cards--portfolio .cards-content--portfolio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  padding-top: 50px;
  padding-bottom: 95px;
}
@media (max-width: 480px) {
  .cards--portfolio .cards-content--portfolio {
    padding-bottom: 60px;
    padding-top: 40px;
  }
}
.cards--portfolio .cards-content--portfolio .card--portfolio {
  border: 1px solid #EEE;
  background: #FFF;
  position: relative;
  overflow: hidden;
  background-color: inherit;
  transition: box-shadow 0.3s ease;
}
.cards--portfolio .cards-content--portfolio .card--portfolio:hover {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
.cards--portfolio .cards-content--portfolio .card--portfolio .card--overlay {
  position: relative;
  overflow: hidden;
}
.cards--portfolio .cards-content--portfolio .card--portfolio .card--overlay__img {
  position: relative;
  z-index: 1;
  width: 370px;
  height: 294px;
}
@media (max-width: 1200px) {
  .cards--portfolio .cards-content--portfolio .card--portfolio .card--overlay__img {
    width: 354px;
    height: 294px;
  }
}
@media (max-width: 768px) {
  .cards--portfolio .cards-content--portfolio .card--portfolio .card--overlay__img {
    width: 354px;
    height: 294px;
  }
}
@media (max-width: 480px) {
  .cards--portfolio .cards-content--portfolio .card--portfolio .card--overlay__img {
    width: 320px;
  }
}
.cards--portfolio .cards-content--portfolio .card--portfolio .card--overlay .card--overlay__drop-menu {
  color: #fff;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.54px;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);
  z-index: 2;
  margin: 0px;
}
.cards--portfolio .cards-content--portfolio .card--portfolio .card--overlay .card--overlay__drop-menu:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.cards--portfolio .cards-content--portfolio .card--portfolio .card--content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 20px 0 20px 24px;
  position: relative;
  z-index: 3;
}
.cards--portfolio .cards-content--portfolio .card--portfolio .card--content__title {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px; /* 200% */
  letter-spacing: 1.08px;
  margin: 0px;
}
.cards--portfolio .cards-content--portfolio .card--portfolio .card--content__description {
  margin: 0px;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.48px;
}
.cards--portfolio .cards-content--portfolio .card--portfolio:focus .card--overlay__drop-menu {
  transform: translateY(0);
  cursor: pointer;
}

.filters .filters-content {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-top: 94px;
}
@media (max-width: 768px) {
  .filters .filters-content {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    width: 320px;
  }
}
@media (max-width: 480px) {
  .filters .filters-content {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    width: 320px;
  }
}
.filters .filters-content .filter {
  border-radius: 4px;
  background-color: #F5F4FA;
  border: none;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  padding: 10px;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters .filters-content .filter:hover {
  border-radius: 4px;
  background-color: #2196F3;
  color: white;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.footer--portfolio {
  background-color: #212121;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer--portfolio .footer-content--portfolio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
}
.footer--portfolio .footer-content--portfolio .logo-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
@media (max-width: 1200px) {
  .footer--portfolio .footer-content--portfolio .logo-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .footer--portfolio .footer-content--portfolio .logo-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .footer--portfolio .footer-content--portfolio .logo-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.footer--portfolio .footer-content--portfolio .logo-list--footer {
  display: flex;
  align-items: center;
}
.footer--portfolio .footer-content--portfolio .logo-list--footer__web {
  color: #2196F3;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 3%;
}
.footer--portfolio .footer-content--portfolio .logo-list--footer__webstudio {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 3%;
  color: white;
}
.footer--portfolio .footer-content--portfolio .logo-list .address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  font-style: normal;
}
@media (max-width: 1200px) {
  .footer--portfolio .footer-content--portfolio .logo-list .address {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .footer--portfolio .footer-content--portfolio .logo-list .address {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .footer--portfolio .footer-content--portfolio .logo-list .address {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.footer--portfolio .footer-content--portfolio .logo-list .address .adress__bulvar {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer--portfolio .footer-content--portfolio .logo-list .address .adress__bulvar:hover {
  color: #2196F3;
}
.footer--portfolio .footer-content--portfolio .logo-list .address .links-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer--portfolio .footer-content--portfolio .logo-list .address .links-footer__item {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 125px;
}
.footer--portfolio .footer-content--portfolio .logo-list .address .links-footer__item:hover {
  color: #2196F3;
}
.footer--portfolio .footer-content--portfolio .links-content--portfolio {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  gap: 20px;
}
@media (max-width: 1200px) {
  .footer--portfolio .footer-content--portfolio .links-content--portfolio {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .footer--portfolio .footer-content--portfolio .links-content--portfolio {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .footer--portfolio .footer-content--portfolio .links-content--portfolio {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.footer--portfolio .footer-content--portfolio .links-content--portfolio .links-content__title--portfolio {
  color: #FFF;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin: 0px;
}
.footer--portfolio .footer-content--portfolio .links-content--portfolio .links-soc--portfolio {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer--portfolio .footer-content--portfolio .links-content--portfolio .links-soc--portfolio .link-soc--portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 12px 12px 12px 12px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer--portfolio .footer-content--portfolio .links-content--portfolio .links-soc--portfolio .link-soc--portfolio:hover {
  background-color: #2196F3;
  cursor: pointer;
}
.footer--portfolio .footer-content--portfolio .form-content--portfolio {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  gap: 20px;
}
@media (max-width: 768px) {
  .footer--portfolio .footer-content--portfolio .form-content--portfolio {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .footer--portfolio .footer-content--portfolio .form-content--portfolio {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.footer--portfolio .footer-content--portfolio .form-content--portfolio .form-content__title--portfolio {
  color: #FFF;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin: 0px;
}
.footer--portfolio .footer-content--portfolio .form-content--portfolio .form--portfolio {
  display: flex;
  align-items: center;
  gap: 12px;
}
@media (max-width: 1200px) {
  .footer--portfolio .footer-content--portfolio .form-content--portfolio .form--portfolio {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .footer--portfolio .footer-content--portfolio .form-content--portfolio .form--portfolio {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .footer--portfolio .footer-content--portfolio .form-content--portfolio .form--portfolio {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.footer--portfolio .footer-content--portfolio .form-content--portfolio .form--portfolio .form__input-title--portfolio .form__input--portfolio {
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 15px 200px 15px 15px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 480px) {
  .footer--portfolio .footer-content--portfolio .form-content--portfolio .form--portfolio .form__input-title--portfolio .form__input--portfolio {
    width: 320px;
  }
}
.footer--portfolio .footer-content--portfolio .form-content--portfolio .form--portfolio .form__input-title--portfolio .form__input--portfolio::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
}
.footer--portfolio .footer-content--portfolio .form-content--portfolio .form--portfolio .form__input-title--portfolio .form__input--portfolio::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
}
.footer--portfolio .footer-content--portfolio .form-content--portfolio .form--portfolio .form__input-title--portfolio .form__input--portfolio:focus {
  color: #2196F3;
}
.footer--portfolio .footer-content--portfolio .form-content--portfolio .form--portfolio .button-send--portfolio {
  display: flex;
  align-items: center;
  color: #FFF;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  padding: 10px 28px 10px 28px;
  gap: 10px;
  border-radius: 4px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  transition: color 0.3s ease;
}
.footer--portfolio .footer-content--portfolio .form-content--portfolio .form--portfolio .button-send--portfolio:hover {
  cursor: pointer;
  color: black;
}
.footer--portfolio .footer-content--portfolio .form-content--portfolio .form--portfolio .button-send--portfolio .button-send--img {
  fill: white;
  transition: fill 0.3s ease;
}
.footer--portfolio .footer-content--portfolio .form-content--portfolio .form--portfolio .button-send--portfolio:hover .button-send--img {
  fill: black;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0px auto;
}

@media (max-width: 1200px) {
  .container {
    width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 480px;
  }
}
@media (max-width: 480px) {
  .container {
    width: 320px;
  }
}
html {
  scroll-behavior: smooth;
}