.header .header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 32px;
  padding-top: 32px;
}
@media (max-width: 480px) {
  .header .header-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 320px;
  }
}
.header .header-content .logo-nav {
  display: flex;
  align-items: center;
  gap: 90px;
}
.header .header-content .logo-nav .logo {
  color: #000;
  font-family: "Raleway";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  display: flex;
  align-items: center;
}
.header .header-content .logo-nav .logo__web {
  color: #2196F3;
  font-family: "Raleway";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.header .header-content .logo-nav .nav__bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
  margin: 0px;
}
.header .header-content .logo-nav .nav__bar-item {
  list-style: none;
}
.header .header-content .logo-nav .nav__bar-item--podbar {
  color: #212121;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  position: relative;
  width: 200px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), width 0.3s ease, left 0.3s ease;
  padding-bottom: 38px;
  text-decoration: none;
}
.header .header-content .logo-nav .nav__bar-item--podbar:hover {
  color: #2196F3;
}
.header .header-content .logo-nav .nav__bar-item--podbar:hover::before {
  width: 100%;
  left: 0;
}
.header .header-content .logo-nav .nav__bar-item--podbar::before {
  content: "";
  position: absolute;
  width: 0;
  left: 50%;
  right: 50%;
  height: 4px;
  border-radius: 2px;
  bottom: 0;
  background-color: #2196F3;
  transition: width 0.3s ease, left 0.3s ease;
}
.header .header-content .links {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1200px) {
  .header .header-content .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .header .header-content .links {
    display: none;
  }
}
.header .header-content .links .link {
  color: #757575;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}
.header .header-content .links .link:hover {
  color: #2196F3;
}
.header .header-content .adaptive--link {
  display: none;
}
@media (max-width: 768px) {
  .header .header-content .adaptive--link {
    display: block;
  }
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }
}
.hero {
  background: url(../icons/background.png) no-repeat center/cover;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.hero-content__title {
  color: white;
  font-family: "Roboto";
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  text-align: center;
}
.hero-content__button {
  padding: 10px 32px 10px 32px;
  background-color: #2196F3;
  color: white;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.hero-content__button:hover {
  cursor: pointer;
}
.hero-content__button:active {
  cursor: default;
}

@media (max-width: 1200px) {
  .hero {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .hero-content__title {
    width: 360px;
    color: #FFF;
    text-align: center;
    font-family: "Roboto";
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: 42px; /* 161.538% */
    letter-spacing: 1.56px;
    text-transform: uppercase;
  }
  .hero-content__button {
    padding: 10px 25px 10px 25px;
    color: #FFF;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.96px;
  }
}
@media (max-width: 768px) {
  .hero {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .hero-content__title {
    color: #FFF;
    text-align: center;
    font-family: "Roboto";
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: 42px; /* 161.538% */
    letter-spacing: 1.56px;
    text-transform: uppercase;
  }
  .hero-content__button {
    padding: 10px 25px 10px 25px;
    color: #FFF;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.96px;
  }
}
@media (max-width: 480px) {
  .hero {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .hero-content__title {
    width: 320px;
    color: #FFF;
    text-align: center;
    font-family: "Roboto";
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: 42px; /* 161.538% */
    letter-spacing: 1.56px;
    text-transform: uppercase;
  }
  .hero-content__button {
    padding: 10px 25px 10px 25px;
    color: #FFF;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.96px;
  }
}
.company .company-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 100px;
  gap: 30px;
}
@media (max-width: 768px) {
  .company .company-content {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 480px) {
  .company .company-content {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 320px;
  }
}
@media (max-width: 1200px) {
  .company .company-content {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.company .company-content .info {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1200px) {
  .company .company-content .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 1200px) and (max-width: 768px) {
  .company .company-content .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
  }
}
@media (max-width: 1200px) and (max-width: 480px) {
  .company .company-content .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
  }
}
.company .company-content .info .svg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #F5F4FA;
  border-radius: 4px;
  padding: 25px 100px 25px 100px;
}
@media (max-width: 1200px) {
  .company .company-content .info .svg {
    padding: 25px 140px 25px 140px;
  }
}
@media (max-width: 480px) {
  .company .company-content .info .svg {
    width: 320px;
  }
}
.company .company-content .info__title {
  color: #212121;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin: 30px 0px 10px 0px;
}
.company .company-content .info__description {
  color: #757575;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  height: 72px;
  width: 270px;
}
@media (max-width: 1200px) {
  .company .company-content .info__description {
    width: 354px;
  }
}
@media (max-width: 480px) {
  .company .company-content .info__description {
    width: 320px;
  }
}

.work {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 1200px) {
  .work {
    display: none;
  }
}
@media (max-width: 480px) {
  .work {
    display: none;
  }
}
.work-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 50px;
}
.work-content__title {
  color: #212121;
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}
.work-content .imgs-work {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.work-content .imgs-work .imgwork {
  position: relative;
  margin: 0px;
}
.work-content .imgs-work .imgwork__descrip {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 95px 27px 95px;
  text-transform: uppercase;
  color: white;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
}

.command {
  background-color: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}
@media (max-width: 1200px) {
  .command {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 480px) {
  .command {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.command-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.command-content__title {
  color: #212121;
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}
@media (max-width: 1200px) {
  .command-content__title {
    color: #212121;
    font-family: "Roboto";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.84px;
  }
}
@media (max-width: 480px) {
  .command-content__title {
    color: #212121;
    font-family: "Roboto";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.84px;
  }
}
.command-content .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 50px;
}
@media (max-width: 1200px) {
  .command-content .cards {
    padding-top: 30px;
  }
}
@media (max-width: 480px) {
  .command-content .cards {
    padding-top: 30px;
  }
}
.command-content .cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  background: #FFF;
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
@media (max-width: 480px) {
  .command-content .cards .card {
    width: 300px;
  }
}
.command-content .cards .card__img {
  width: 270px;
  height: 260px;
}
@media (max-width: 480px) {
  .command-content .cards .card__img {
    width: 100%;
  }
}
.command-content .cards .card__title {
  color: #212121;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  margin: 30px 0px 10px 0px;
}
.command-content .cards .card__descrip {
  color: #757575;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  margin: 0px 0px 16px 0px;
}
.command-content .cards .card .links-port {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.partners {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 1200px) {
  .partners {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 480px) {
  .partners {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.partners-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 50px;
}
@media (max-width: 1200px) {
  .partners-content {
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 30px;
  }
}
@media (max-width: 480px) {
  .partners-content {
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 30px;
  }
}
.partners-content__title {
  color: #212121;
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}
@media (max-width: 1200px) {
  .partners-content__title {
    color: #212121;
    font-family: "Roboto";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.84px;
  }
}
@media (max-width: 480px) {
  .partners-content__title {
    color: #212121;
    font-family: "Roboto";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.84px;
  }
}
.partners-content .clients {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.partners-content .clients .client {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 480px) {
  .partners-content .clients .client {
    width: 210px;
    height: 92px;
  }
}
.partners-content .clients .client:hover {
  border-color: #2196F3;
  cursor: pointer;
}
.partners-content .clients .client #foster {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.partners-content .clients .client #foster #foster > h6 {
  margin-top: 50px;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 70px;
}
.footer-content .footer-help {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 1200px) {
  .footer-content .footer-help {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 480px) {
  .footer-content .footer-help {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
}
.footer-content .footer-help__logo {
  color: white;
  font-family: "Raleway";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  margin: 0px;
  padding-top: 0px;
}
.footer-content .footer-help__logo--web {
  color: #2196F3;
  font-family: "Raleway";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.footer-content .footer-help--address {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 1200px) {
  .footer-content .footer-help--address {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .footer-content .footer-help--address {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.footer-content .footer-help--address__map {
  color: white;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-content .footer-help--address__map:hover {
  color: #2196F3;
}
.footer-content .footer-help--address__link {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-content .footer-help--address__link:hover {
  color: #2196F3;
}
.footer-content .links-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-content .links-footer__item {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 125px;
}
.footer-content .links-footer__item:hover {
  color: #2196F3;
}

.links-content {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  gap: 20px;
}
@media (max-width: 1200px) {
  .links-content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .links-content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.links-content__title {
  color: white;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin: 0px;
}
.links-content .links-soc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.links-content .links-soc .link-soc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 12px 12px 12px 12px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.links-content .links-soc .link-soc:hover {
  background-color: #2196F3;
  cursor: pointer;
}

.form-content {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  gap: 20px;
}
@media (max-width: 1200px) {
  .form-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .form-content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.form-content__title {
  color: white;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin: 0px;
}
.form-content .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}
@media (max-width: 1200px) {
  .form-content .form {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .form-content .form {
    flex-direction: column;
  }
}
.form-content .form__input-title .form__input {
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.42px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 15px 200px 15px 15px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-content .form__input-title .form__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.form-content .form__input-title .form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.form-content .form__input-title .form__input:focus {
  color: #2196F3;
}
@media (max-width: 480px) {
  .form-content .form__input-title .form__input {
    width: 320px;
  }
}
.form-content .form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  padding: 12px 30px 12px 30px;
  gap: 10px;
  border-radius: 4px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  transition: color 0.3s ease;
}
.form-content .form__button:hover {
  cursor: pointer;
  color: black;
}
.form-content .form__button .form__button--img {
  fill: white;
  transition: fill 0.3s ease;
}
.form-content .form__button:hover .form__button--img {
  fill: black;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 1170px;
  padding: 0px 15px;
  margin: 0px auto;
}

.header--portfolio .header-content--portfolio {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.header--portfolio .header-content--portfolio .logo-nav--portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 93px;
}
.header--portfolio .header-content--portfolio .logo-nav--portfolio .header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.header--portfolio .header-content--portfolio .logo-nav--portfolio .header-logo .web {
  color: #2196F3;
  font-family: "Raleway";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.header--portfolio .header-content--portfolio .logo-nav--portfolio .header-logo .webstudio {
  color: #000;
  font-family: "Raleway";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.header--portfolio .header-content--portfolio .logo-nav--portfolio .nav-bar--portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 50px;
}
@media (max-width: 768px) {
  .header--portfolio .header-content--portfolio .logo-nav--portfolio .nav-bar--portfolio {
    display: none;
  }
}
@media (max-width: 480px) {
  .header--portfolio .header-content--portfolio .logo-nav--portfolio .nav-bar--portfolio {
    display: none;
  }
}
.header--portfolio .header-content--portfolio .logo-nav--portfolio .nav-bar--portfolio .nav-bar__item--portfolio {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: black;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header--portfolio .header-content--portfolio .logo-nav--portfolio .nav-bar--portfolio .nav-bar__item--portfolio:hover {
  color: #2196F3;
}
.header--portfolio .header-content--portfolio .logo-nav--portfolio .nav-bar--portfolio .nav-bar__item--portfolio:hover::before {
  width: 100%;
  left: 0;
}
.header--portfolio .header-content--portfolio .logo-nav--portfolio .nav-bar--portfolio .nav-bar__item--portfolio::before {
  content: "";
  position: absolute;
  width: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  top: 0;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  transition: width 0.3s ease, left 0.3s ease;
  margin-top: 32px;
}
.header--portfolio .header-content--portfolio .header-links {
  display: flex;
  gap: 50px;
}
@media (max-width: 1200px) {
  .header--portfolio .header-content--portfolio .header-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .header--portfolio .header-content--portfolio .header-links {
    display: none;
  }
}
@media (max-width: 480px) {
  .header--portfolio .header-content--portfolio .header-links {
    display: none;
  }
}
.header--portfolio .header-content--portfolio .header-links__item {
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  gap: 10px;
  align-items: center;
}
.header--portfolio .header-content--portfolio .header-links__item:hover {
  color: #2196F3;
}
.header--portfolio .header-content--portfolio .header-links__item:hover .header-links__item--svg {
  fill: #2196F3;
}
.header--portfolio .header-content--portfolio .adaptive-link--portfolio {
  display: none;
}
@media (max-width: 768px) {
  .header--portfolio .header-content--portfolio .adaptive-link--portfolio {
    display: block;
  }
}
@media (max-width: 480px) {
  .header--portfolio .header-content--portfolio .adaptive-link--portfolio {
    display: block;
  }
}

a {
  text-decoration: none;
}

.cards--portfolio .cards-content--portfolio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  padding-top: 50px;
  padding-bottom: 95px;
}
@media (max-width: 480px) {
  .cards--portfolio .cards-content--portfolio {
    padding-bottom: 60px;
    padding-top: 40px;
  }
}
.cards--portfolio .cards-content--portfolio .card--portfolio {
  border: 1px solid #EEE;
  background: #FFF;
  position: relative;
  overflow: hidden;
  background-color: inherit;
  transition: box-shadow 0.3s ease;
}
.cards--portfolio .cards-content--portfolio .card--portfolio:hover {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
.cards--portfolio .cards-content--portfolio .card--portfolio .card--overlay {
  position: relative;
  overflow: hidden;
}
.cards--portfolio .cards-content--portfolio .card--portfolio .card--overlay__img {
  position: relative;
  z-index: 1;
  width: 370px;
  height: 294px;
}
@media (max-width: 1200px) {
  .cards--portfolio .cards-content--portfolio .card--portfolio .card--overlay__img {
    width: 354px;
    height: 294px;
  }
}
@media (max-width: 768px) {
  .cards--portfolio .cards-content--portfolio .card--portfolio .card--overlay__img {
    width: 354px;
    height: 294px;
  }
}
@media (max-width: 480px) {
  .cards--portfolio .cards-content--portfolio .card--portfolio .card--overlay__img {
    width: 320px;
  }
}
.cards--portfolio .cards-content--portfolio .card--portfolio .card--overlay .card--overlay__drop-menu {
  color: #fff;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.54px;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);
  z-index: 2;
  margin: 0px;
}
.cards--portfolio .cards-content--portfolio .card--portfolio .card--overlay .card--overlay__drop-menu:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.cards--portfolio .cards-content--portfolio .card--portfolio .card--content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 20px 0 20px 24px;
  position: relative;
  z-index: 3;
}
.cards--portfolio .cards-content--portfolio .card--portfolio .card--content__title {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px; /* 200% */
  letter-spacing: 1.08px;
  margin: 0px;
}
.cards--portfolio .cards-content--portfolio .card--portfolio .card--content__description {
  margin: 0px;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.48px;
}
.cards--portfolio .cards-content--portfolio .card--portfolio:focus .card--overlay__drop-menu {
  transform: translateY(0);
  cursor: pointer;
}

.filters .filters-content {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-top: 94px;
}
@media (max-width: 768px) {
  .filters .filters-content {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    width: 320px;
  }
}
@media (max-width: 480px) {
  .filters .filters-content {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    width: 320px;
  }
}
.filters .filters-content .filter {
  border-radius: 4px;
  background-color: #F5F4FA;
  border: none;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  padding: 10px;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters .filters-content .filter:hover {
  border-radius: 4px;
  background-color: #2196F3;
  color: white;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.footer--portfolio {
  background-color: #212121;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer--portfolio .footer-content--portfolio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
}
.footer--portfolio .footer-content--portfolio .logo-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
@media (max-width: 1200px) {
  .footer--portfolio .footer-content--portfolio .logo-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .footer--portfolio .footer-content--portfolio .logo-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .footer--portfolio .footer-content--portfolio .logo-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.footer--portfolio .footer-content--portfolio .logo-list--footer {
  display: flex;
  align-items: center;
}
.footer--portfolio .footer-content--portfolio .logo-list--footer__web {
  color: #2196F3;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 3%;
}
.footer--portfolio .footer-content--portfolio .logo-list--footer__webstudio {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 3%;
  color: white;
}
.footer--portfolio .footer-content--portfolio .logo-list .address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  font-style: normal;
}
@media (max-width: 1200px) {
  .footer--portfolio .footer-content--portfolio .logo-list .address {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .footer--portfolio .footer-content--portfolio .logo-list .address {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .footer--portfolio .footer-content--portfolio .logo-list .address {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.footer--portfolio .footer-content--portfolio .logo-list .address .adress__bulvar {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer--portfolio .footer-content--portfolio .logo-list .address .adress__bulvar:hover {
  color: #2196F3;
}
.footer--portfolio .footer-content--portfolio .logo-list .address .links-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer--portfolio .footer-content--portfolio .logo-list .address .links-footer__item {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 125px;
}
.footer--portfolio .footer-content--portfolio .logo-list .address .links-footer__item:hover {
  color: #2196F3;
}
.footer--portfolio .footer-content--portfolio .links-content--portfolio {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  gap: 20px;
}
@media (max-width: 1200px) {
  .footer--portfolio .footer-content--portfolio .links-content--portfolio {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .footer--portfolio .footer-content--portfolio .links-content--portfolio {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .footer--portfolio .footer-content--portfolio .links-content--portfolio {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.footer--portfolio .footer-content--portfolio .links-content--portfolio .links-content__title--portfolio {
  color: #FFF;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin: 0px;
}
.footer--portfolio .footer-content--portfolio .links-content--portfolio .links-soc--portfolio {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer--portfolio .footer-content--portfolio .links-content--portfolio .links-soc--portfolio .link-soc--portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 12px 12px 12px 12px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer--portfolio .footer-content--portfolio .links-content--portfolio .links-soc--portfolio .link-soc--portfolio:hover {
  background-color: #2196F3;
  cursor: pointer;
}
.footer--portfolio .footer-content--portfolio .form-content--portfolio {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  gap: 20px;
}
@media (max-width: 768px) {
  .footer--portfolio .footer-content--portfolio .form-content--portfolio {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .footer--portfolio .footer-content--portfolio .form-content--portfolio {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.footer--portfolio .footer-content--portfolio .form-content--portfolio .form-content__title--portfolio {
  color: #FFF;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin: 0px;
}
.footer--portfolio .footer-content--portfolio .form-content--portfolio .form--portfolio {
  display: flex;
  align-items: center;
  gap: 12px;
}
@media (max-width: 1200px) {
  .footer--portfolio .footer-content--portfolio .form-content--portfolio .form--portfolio {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .footer--portfolio .footer-content--portfolio .form-content--portfolio .form--portfolio {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .footer--portfolio .footer-content--portfolio .form-content--portfolio .form--portfolio {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.footer--portfolio .footer-content--portfolio .form-content--portfolio .form--portfolio .form__input-title--portfolio .form__input--portfolio {
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 15px 200px 15px 15px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 480px) {
  .footer--portfolio .footer-content--portfolio .form-content--portfolio .form--portfolio .form__input-title--portfolio .form__input--portfolio {
    width: 320px;
  }
}
.footer--portfolio .footer-content--portfolio .form-content--portfolio .form--portfolio .form__input-title--portfolio .form__input--portfolio::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
}
.footer--portfolio .footer-content--portfolio .form-content--portfolio .form--portfolio .form__input-title--portfolio .form__input--portfolio::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
}
.footer--portfolio .footer-content--portfolio .form-content--portfolio .form--portfolio .form__input-title--portfolio .form__input--portfolio:focus {
  color: #2196F3;
}
.footer--portfolio .footer-content--portfolio .form-content--portfolio .form--portfolio .button-send--portfolio {
  display: flex;
  align-items: center;
  color: #FFF;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  padding: 10px 28px 10px 28px;
  gap: 10px;
  border-radius: 4px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  transition: color 0.3s ease;
}
.footer--portfolio .footer-content--portfolio .form-content--portfolio .form--portfolio .button-send--portfolio:hover {
  cursor: pointer;
  color: black;
}
.footer--portfolio .footer-content--portfolio .form-content--portfolio .form--portfolio .button-send--portfolio .button-send--img {
  fill: white;
  transition: fill 0.3s ease;
}
.footer--portfolio .footer-content--portfolio .form-content--portfolio .form--portfolio .button-send--portfolio:hover .button-send--img {
  fill: black;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0px auto;
}

@media (max-width: 1200px) {
  .container {
    width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 480px;
  }
}
@media (max-width: 480px) {
  .container {
    width: 320px;
  }
}
html {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 1200px) {
  .container {
    width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 480px;
  }
}
@media (max-width: 480px) {
  .container {
    width: 320px;
  }
}