@mixin flex($display, $align-items, $justify-content, $flex-wrap) {
    display: $display;
    align-items: $align-items;
    justify-content: $justify-content;
    flex-wrap: $flex-wrap;
}

@mixin text ($color, $family, $size, $style, $weight, $line-height, $letter-spacing) {
    color: $color;
    font-family: $family;
    font-size: $size;
    font-style: $style;
    font-weight: $weight;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}

@mixin text-size ($height, $width) {
    height: $height;
    width: $width;
}