@import './main/main.scss';
@import './portfolio/portfolio.scss';
@import './colors';
@import './mixins';

html {
    scroll-behavior: smooth;
}


@media (max-width: 1200px) {
    .container {
        width: 768px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 480px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 320px;
    }
}