@import '../mixins';

.header--portfolio {
    .header-content--portfolio {
        padding-top: 30px;
        @include flex (flex, center, space-between, nowrap);
        .logo-nav--portfolio {
            @include flex (flex, center, center, nowrap);
            gap: 93px;
            .header-logo {
                @include flex (flex, center, center, nowrap);
                .web {
                    @include text (#2196F3, 'Raleway', 26px, normal, 700, normal, 0.78px);
                }
                .webstudio {
                    @include text (#000, 'Raleway', 26px, normal, 700, normal, 0.78px);
                }
            }
            .nav-bar--portfolio {
                @include flex (flex, center, center, nowrap);
                @media (max-width: 1200px) {
                    & {
                        display: none;
                    }
                } 
                gap: 50px;
                .nav-bar__item--portfolio {
                    position: relative;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 500;
                    font-size: 14px;
                    color: black;
                    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                    &:hover {
                        color: #2196F3;
                    }
                    &:hover::before {
                        width: 100%;
                        left: 0;
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        width: 0;
                        left: 50%;
                        right: 50%;
                        bottom: 0;
                        top: 0;
                        height: 4px;
                        border-radius: 2px;
                        background-color: #2196F3;
                        transition: width 0.3s ease, left 0.3s ease;
                        margin-top: 32px;
                    }
                }
            }
        }
        .header-links {
            display: flex;
            @media (max-width: 1200px) {
                & {
                    display: none;
                }
            } 
            gap: 50px;
            &__item {
                color: #757575;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.28px;
                transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
                display: flex;
                gap: 10px;
                align-items: center;
                &:hover {
                    color: #2196F3;
                }
                &:hover .header-links__item--svg {
                    fill: #2196F3;
                }
            }
        }
        .adaptive-link--portfolio {
            display: none; 
            @media (max-width: 1200px) {
                & {
                    display: block;
                }
            }
        }
    }
}

a {
    text-decoration: none;
}

