@import '../../mixins';

.work {
    padding-top: 100px;
    padding-bottom: 100px;
    @media (max-width: 1200px) {
        & {
            display: none
        }
    }
    &-content {
        @include flex (flex, center, center, wrap);
        flex-direction: column;
        gap: 50px;
        &__title {
            @include text (#212121, 'Roboto', 36px, normal, 700, normal, 1.08px);
        }
        .imgs-work {
            @include flex (flex, center, center, wrap);
            gap: 30px;
            .imgwork {
                position: relative;
                margin: 0px;
                &__descrip {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    background-color: rgba(47, 48, 58, 0.80);
                    padding: 27px 95px 27px 95px;
                    text-transform: uppercase;
                    @include text (white, 'Roboto', 14px, normal, 700, normal, 0.42px);
                }
            }
            
        }
    }
}

