@import '../../mixins';

.company {
    @media (max-width: 480px) {
        & {
            width: 320px;
        }
    }
    .company-content {
        @include flex (flex, center, center, wrap);
        padding-top: 100px;
        gap: 30px;
        @media (max-width: 480px) {
            & {
                padding-top: 60px;
                padding-bottom: 60px;
                width: 320px;
            }
        }
        @media (max-width: 1200px) {
            & {
                padding-top: 60px;
                padding-bottom: 60px;
            }
        }
        .info {
            display: flex;
            flex-direction: column;
            @media (max-width: 1200px) {
                & {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
            }
            @media (max-width: 480px) {
                & {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 320px;
            }
        }
                }
                .svg {
                    @include flex (flex, center, center, wrap);
                    background-color: #F5F4FA;
                    border-radius: 4px;
                    padding: 25px 100px 25px 100px;
                    @media (max-width: 1200px) {
                        & {
                            padding: 25px 140px 25px 140px;
                        }
                    }
                    @media (max-width: 480px) {
                        & {
                            width: 320px;
                        }
                    }
                }
            &__title {
                @include text (#212121, 'Roboto', 14px, normal, 700, normal, 0.42px);
                text-transform: uppercase;
                margin: 30px 0px 10px 0px;
            }
            &__description {
                @include text (getColor('smoky-color'), 'Roboto', 14px, normal, 400, 24px, 0.42px);
                @include text-size (72px, 270px);
                @media (max-width: 1200px) {
                    & {
                        width: 354px;
                    }
                }
                @media (max-width: 480px) {
                    & {
                        width: 320px;
                    }
                }
            }
        }
    }
}

