.partners {
    padding-top: 50px;
    padding-bottom: 50px;
    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        &__title {
            font-size: 36px;
            letter-spacing: 1.08px;
            margin: 0px 0px 50px 0px;
        }
        .clients {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 30px;
            .client {
                display: flex;
                justify-content: center;
                border: 1px solid #AFB1B8;
                border-radius: 4px;
                width: 170px;
                height: 92px;
                transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                &:hover {
                    border-color: #2196F3;
                    cursor: pointer;
                }
                #foster {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    #foster > h6 {
                        margin-top: 50px;
                    }
                }
            }
            .client > svg {
                margin-top: 20px;
            }
        }
    }
}




